@using Domain.Enums
@model Domain.Helpers.PagingResult<Application.Models.Table.TableDetailModel>

@{
    Layout = null;
}

@foreach (var item in Model.Data)
{
    <div>
        <div class="product-box-3 h-100 wow fadeInUp product-box" data-wow-delay="0.05s">
            <div class="product-header">
                <div class="product-image">
                    <a href="/booking-table?code=@item.Code">
                        <img src="@item.QRCode" class="img-fluid blur-up lazyload" alt="@item.Title">
                    </a>
                </div>

            </div>
            <div class="product-footer">
                <div class="product-detail">
                    @if (item.Status == (int)TableStatus.Available)
                    {
                        <span class="span-name text-success">Còn trống</span>
                    }
                    else
                    {
                        <span class="span-name text-danger">Đã được đặt</span>
                    }
                    <a href="/booking-table?code=@item.Code">
                        <h5 class="name">
                            @item.Title
                        </h5>
                    </a>
                    <div class="add-to-cart-box bg-white">
                        <div class="cart_qty qty-box">
                            <div class="input-group bg-white">
                                <button type="button" class="qty-left-minus bg-gray"
                                        data-type="minus" data-field="">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                                <input class="form-control input-number qty-input" type="text"
                                       name="quantity" value="0">
                                <button type="button" class="qty-right-plus bg-gray"
                                        data-type="plus" data-field="">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    @if (item.Status == (int)TableStatus.Available)
                    {
                        <br/>
                        <br/>
                        <p class="text-success hover-link" 
                           data-id="@item.Id.ToString()" 
                           style="text-align: center !important;"
                           onclick="onClickBookingTablePopup('@item.Id.ToString()')">
                            Đặt Bàn
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade theme-modal remove-coupon"
     aria-hidden="true" 
     tabindex="-1"
     id="modal-table-booking-detail">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="table-booking-detail-content">
            
        </div>
    </div>
</div>
