@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Domain.Constants
@using Domain.Enums
@model Application.Common.Models.ActionWithDialogModel<Application.Models.Order.ListDropdownStatusOrderModel>

@{
    Layout = null;
}
<input id="OrderId" value="@Model.Data.Id" type="hidden"/>
<div class="modal-header d-block text-center">
    <h5 class="modal-title w-100" id="exampleModalLabel22">
        @Model.Title
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <i class="fas fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <form class="theme-form theme-form-2 mega-form">
    <div class="mb-4 row align-items-center">
        <select 
            class="js-example-basic-single w-100" 
            id="OrderStatus">
            <option disabled>Chọn trạng thái</option>
            @foreach (var item in Model.Data.ListStatus)
            {
                @if (item.Id.Equals(Model.Data.CurrentStatus.ToString()))
                {
                    <option selected="selected" value="@item.Id">
                        @item.Text
                    </option>
                }
                else
                {
                    <option value="@item.Id">
                        @item.Text
                    </option>
                }
            }
        </select>
    </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">Hủy</button>
    <button type="button" 
            class="btn btn-animation btn-md fw-bold" 
            id="btn-update-status">
        Cập Nhật
    </button>
</div>

<script src="~/admin/js/order/update-status.js" asp-append-version="true"></script>